* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-color: #F6F8FA;
    color: #1E2A37;
    font-family: "Roboto";
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 40px;
}

.logo {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}
.accueil{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-basis: 50%;
    list-style: none;
    font-weight: 300;
    margin-top: 30px;
}

a{
 text-decoration: none;
 color: #1E2A37;
}

a:hover {
    font-weight: bold;
}

.search {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.bouton {
    width: 90px;
    height: 50px;
    margin-top: 15px;
}

.profil {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    text-align: center;
    font-weight: 300;
}

.Jean {
    background-color: white;
    border-radius: 0 0 15px 15px;
    align-items: baseline;
}

.username {
    margin: 10px auto;
}

.presentation {
    margin: 10px auto;
    margin-left: 20px;
}

h2 {
    display: flex;
    justify-content: space-between;
    align-items: justify;

    text-align: center;

}
h3 {
    font-weight: 300;
    text-align: center;
}

p {
    font-weight: 300;
    text-align: justify;
    justify-content: space-around;

}

.grid {
    display: grid;
}

.c1 {
    color: #1E2A37;
    grid-area: c1;
}

#s1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "c1 c2 c2 c2"
    "c1 c3 c3 c3"
    "c1 c4 c4 c4"
    "c1 c5 c5 c5"
    "c1 c6 c7 c8"
    "c1 c9  c10 c8";
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    gap: 30px;
}

.c2{
    grid-area: c2;
}

.c3 {
    grid-area: c3;
}

.c4 {
    grid-area: c4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c5 {
    grid-area: c5;
}

.c6 {
    grid-area: c6;
}

.c7 {
    grid-area: c7;
}

.c8 {
    grid-area: c8;
}

.c9 {
    grid-area: c9;
}

.c10 {
    grid-area: c10;
}

.images {
    display: flex;
    height: 100px;
    width: 100px;
}

.images1 {
    display: flex;
    height: 100px;
    width: 100px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E2A37;
    color: white;
    height: 70px;
    width: 100%;
    margin-top: 30px;
}

.gauche {
    padding-left: 20px;
}

.droite {
    padding-right: 20px;
}

@media (max-width: 480px) {
    .accueil {
        display:none;
    }
}

@media (max-width:780px) {
    #s1 {
        grid-template-columns: 1fr;
        grid-template-areas:
            "c1"
            "c2"
            "c3"
            "c4"
            "c5"
            "c6"
            "c7"
            "c8"
            "c9";

    }
    .c10 {
        display: none;
    }
    .images1 {
        display: none;
    }

    .c10 {
        display: none;
    }
    .images1 {
        display: none;
    }
}
@media (max-width:780px){
 footer{ background-color: #1E2A37;
     color: #F6F8FA;
    justify-content: center; 
    flex-direction: column;
    width: 100%;
} 
header {
    background-color: rgba(30, 42, 55, 1);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 5px;
}
.bouton
    {display: none;}
    .search
    {display: none;}

.logo{ content: url("images/group.png"); 
    justify-content: center; 
    width: 100%; 
    margin-bottom: 10px;}

.burger-menu {
    display: block;           
    position: absolute;
    right: 10px;          
    margin-top: 20px;
}
 }


    