.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.accueil{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-basis: 50%;
    list-style: none;
}

@media (max-width: 480px) {
    .accueil {
        display: inline;
    }
}