body {
    background-color: #F6F8FA;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.accueil{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-basis: 50%;
    list-style: none;
    text-decoration: none;
}

@media (max-width: 480px) {
    .accueil {
        display: inline;
    }
}

.profil {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    text-align: center;
}

.grid {
    display: grid;
}

.c1 {
    padding: 10px;
    background: white;
}